# Sourcing Open Data

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating path 
path = r'/Users/monajafizada/Documents/DataAnalytics/A6 advanced analytics and dashboard design/Project Information'

### Data 1

In [14]:
# importing Covid data of deaths by sex, age and states
Covid_Deaths_by_sex_age_States = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'COVID-19_Death_Counts_by_Sex__Age__and_State.csv'), index_col = False)

In [188]:
#exporting the data after cleaning 
Covid_Deaths_by_sex_age_States.to_csv(os.path.join(path, '02 Data', 'PreparedData','COVID-19_Death_Counts_by_Sex__Age__and_State.csv'))

In [15]:
Covid_Deaths_by_sex_age_States.shape

(1416, 7)

In [16]:
# looking for missing value 
Covid_Deaths_by_sex_age_States.isnull().sum()

Data as of           0
Start week           0
End Week             0
State                0
Sex                  0
Age group            0
COVID-19 Deaths    278
dtype: int64

In [17]:
# creating subset of the datafram containing only missing values
df_nan = Covid_Deaths_by_sex_age_States[Covid_Deaths_by_sex_age_States['COVID-19 Deaths'].isnull()==True]

In [18]:
df_nan

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths
41,08/12/2020,02/01/2020,08/08/2020,Alabama,Male,15-24 years,NaN
42,08/12/2020,02/01/2020,08/08/2020,Alabama,Male,25-34 years,NaN
54,08/12/2020,02/01/2020,08/08/2020,Alabama,Female,25-34 years,NaN
70,08/12/2020,02/01/2020,08/08/2020,Alaska,Male,45-54 years,NaN
72,08/12/2020,02/01/2020,08/08/2020,Alaska,Male,65-74 years,NaN
...,...,...,...,...,...,...,...
1395,08/12/2020,02/01/2020,08/08/2020,Puerto Rico,Male,35-44 years,NaN
1404,08/12/2020,02/01/2020,08/08/2020,Puerto Rico,Female,5-14 years,NaN
1406,08/12/2020,02/01/2020,08/08/2020,Puerto Rico,Female,25-34 years,NaN
1407,08/12/2020,02/01/2020,08/08/2020,Puerto Rico,Female,35-44 years,NaN
1408,08/12/2020,02/01/2020,08/08/2020,Puerto Rico,Female,45-54 years,NaN

In [19]:
# addressing missing values
Covid_Deaths_by_sex_age_States.describe()

       COVID-19 Deaths
count      1138.000000
mean       1048.084359
std        7531.272179
min           0.000000
25%           0.000000
50%          34.000000
75%         263.500000
max      149192.000000

In [21]:
# replacing missing value 
Covid_Deaths_by_sex_age_States['COVID-19 Deaths'].fillna(1048.084359, inplace=True)

In [22]:
# checking for missing values after replacing
Covid_Deaths_by_sex_age_States.isnull().sum()

Data as of         0
Start week         0
End Week           0
State              0
Sex                0
Age group          0
COVID-19 Deaths    0
dtype: int64

In [23]:
df_clean = Covid_Deaths_by_sex_age_States[Covid_Deaths_by_sex_age_States['COVID-19 Deaths'].isnull()== False]

In [35]:
# finding duplicated values
df_dup = df_clean[df_clean.duplicated()]

In [36]:
df_dup

Empty DataFrame
Columns: [Data as of, Start week, End Week, State, Sex, Age group, COVID-19 Deaths]
Index: []

In [38]:
Covid_Deaths_by_sex_age_States.head()

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths
0,08/12/2020,02/01/2020,08/08/2020,United States,All,Under 1 year,16.0
1,08/12/2020,02/01/2020,08/08/2020,United States,All,1-4 years,10.0
2,08/12/2020,02/01/2020,08/08/2020,United States,All,5-14 years,23.0
3,08/12/2020,02/01/2020,08/08/2020,United States,All,15-24 years,242.0
4,08/12/2020,02/01/2020,08/08/2020,United States,All,25-34 years,1133.0

In [39]:
Covid_Deaths_by_sex_age_States.shape

(1416, 7)

In [40]:
Covid_Deaths_by_sex_age_States.tail

<bound method NDFrame.tail of       Data as of  Start week    End Week              State      Sex  \
0     08/12/2020  02/01/2020  08/08/2020      United States      All
1     08/12/2020  02/01/2020  08/08/2020      United States      All
2     08/12/2020  02/01/2020  08/08/2020      United States      All
3     08/12/2020  02/01/2020  08/08/2020      United States      All
4     08/12/2020  02/01/2020  08/08/2020      United States      All
...          ...         ...         ...                ...      ...
1411  08/12/2020  02/01/2020  08/08/2020        Puerto Rico   Female
1412  08/12/2020  02/01/2020  08/08/2020        Puerto Rico   Female
1413  08/12/2020  02/01/2020  08/08/2020        Puerto Rico   Female
1414  08/12/2020  02/01/2020  08/08/2020        Puerto Rico  Unknown
1415  08/12/2020  02/01/2020  08/08/2020  Puerto Rico Total      All

              Age group  COVID-19 Deaths
0          Under 1 year             16.0
1             1-4 years             10.0
2            5-14 years             23.0
3           15-24 years            242.0
4           25-34 years           1133.0
...                 ...              ...
1411        75-84 years              0.0
1412  85 years and over              0.0
1413           All ages             11.0
1414           All ages              0.0
1415           All ages             34.0

[1416 rows x 7 columns]>

In [41]:
Covid_Deaths_by_sex_age_States.info

<bound method DataFrame.info of       Data as of  Start week    End Week              State      Sex  \
0     08/12/2020  02/01/2020  08/08/2020      United States      All
1     08/12/2020  02/01/2020  08/08/2020      United States      All
2     08/12/2020  02/01/2020  08/08/2020      United States      All
3     08/12/2020  02/01/2020  08/08/2020      United States      All
4     08/12/2020  02/01/2020  08/08/2020      United States      All
...          ...         ...         ...                ...      ...
1411  08/12/2020  02/01/2020  08/08/2020        Puerto Rico   Female
1412  08/12/2020  02/01/2020  08/08/2020        Puerto Rico   Female
1413  08/12/2020  02/01/2020  08/08/2020        Puerto Rico   Female
1414  08/12/2020  02/01/2020  08/08/2020        Puerto Rico  Unknown
1415  08/12/2020  02/01/2020  08/08/2020  Puerto Rico Total      All

              Age group  COVID-19 Deaths
0          Under 1 year             16.0
1             1-4 years             10.0
2            5-14 years             23.0
3           15-24 years            242.0
4           25-34 years           1133.0
...                 ...              ...
1411        75-84 years              0.0
1412  85 years and over              0.0
1413           All ages             11.0
1414           All ages              0.0
1415           All ages             34.0

[1416 rows x 7 columns]>

In [42]:
Covid_Deaths_by_sex_age_States.dtypes

Data as of          object
Start week          object
End Week            object
State               object
Sex                 object
Age group           object
COVID-19 Deaths    float64
dtype: object

### Data 2

In [62]:
# importing Covid data of USA by cities
Covid_USA_City = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'covid_19_usa_city.csv'), index_col = False)

In [187]:
#exporting the data after cleaning 
Covid_USA_City.to_csv(os.path.join(path, '02 Data', 'PreparedData','covid_19_usa_city.csv'))

In [63]:
Covid_USA_City.shape

(9660, 11)

In [64]:
Covid_USA_City.head()

,City,Total Cases,New Cases,Total Deaths,New Deaths,Active Cases,Total Cases /1M pop,Deaths /1M pop,Total Tests,Tests /1M pop,Date
0,New York,188694,7550.0,9385.0,758,162220,9618.0,478.0,461601.0,"23,529",04-12-2020
1,New Jersey,61850,3699.0,2350.0,167,58818,6964.0,265.0,126735.0,"14,269",04-12-2020
2,Michigan,23993,NaN,1392.0,,22158,2410.0,140.0,76014.0,"7,634",04-12-2020
3,Massachusetts,22860,NaN,686.0,,21445,3347.0,100.0,108776.0,"15,926",04-12-2020
4,Pennsylvania,22833,1029.0,507.0,6,21676,1785.0,40.0,124890.0,"9,764",04-12-2020

In [65]:
# looking for missing value 
Covid_USA_City.isnull().sum()

City                      0
Total Cases               0
New Cases              4990
Total Deaths             20
New Deaths                0
Active Cases              0
Total Cases /1M pop    1288
Deaths /1M pop         1290
Total Tests             387
Tests /1M pop          1288
Date                      0
dtype: int64

In [66]:
Covid_USA_City.describe()

,Total Cases,New Cases,Total Deaths,Total Cases /1M pop,Total Tests
count,9660.000000,4670.000000,9640.000000,8372.000000,9.273000e+03
mean,59007.056315,597.950107,2200.081950,9117.790373,7.561917e+05
std,107659.478924,1150.095437,4626.932336,7587.737257,1.385831e+06
min,3.000000,1.000000,1.000000,265.000000,0.000000e+00
25%,5169.750000,70.000000,104.000000,2646.750000,8.530700e+04
50%,20046.500000,278.500000,551.000000,6940.500000,2.861000e+05
75%,64365.250000,700.000000,2108.000000,14114.500000,8.172700e+05
max,819524.000000,15300.000000,33246.000000,35715.000000,1.470520e+07

In [67]:
# replacing missing value 
Covid_USA_City['New Cases'].fillna(597.950107, inplace=True)

In [68]:
Covid_USA_City['Total Deaths'].fillna(59007.056315, inplace=True)

In [69]:
Covid_USA_City['Total Cases /1M pop'].fillna(9117.790373, inplace=True)

In [70]:
Covid_USA_City['Total Tests'].fillna(756191.7, inplace=True)

In [71]:
# Checking for the missing values after replacing values 
Covid_USA_City.isnull().sum()

City                      0
Total Cases               0
New Cases                 0
Total Deaths              0
New Deaths                0
Active Cases              0
Total Cases /1M pop       0
Deaths /1M pop         1290
Total Tests               0
Tests /1M pop          1288
Date                      0
dtype: int64

In [90]:
# droping missing values
Covid_USA_City.dropna(inplace = True)

In [91]:
Covid_USA_City.isnull().sum()

City                   0
Total Cases            0
New Cases              0
Total Deaths           0
New Deaths             0
Active Cases           0
Total Cases /1M pop    0
Deaths /1M pop         0
Total Tests            0
Tests /1M pop          0
Date                   0
dtype: int64

In [92]:
Covid_USA_City.shape

(8370, 11)

In [98]:
clean = Covid_USA_City[Covid_USA_City.isnull()== False]

In [99]:
clean

,City,Total Cases,New Cases,Total Deaths,New Deaths,Active Cases,Total Cases /1M pop,Deaths /1M pop,Total Tests,Tests /1M pop,Date
0,New York,188694,7550.000000,9385.0,758,162220,9618.0,478.0,461601.0,"23,529",04-12-2020
1,New Jersey,61850,3699.000000,2350.0,167,58818,6964.0,265.0,126735.0,"14,269",04-12-2020
2,Michigan,23993,597.950107,1392.0,,22158,2410.0,140.0,76014.0,"7,634",04-12-2020
3,Massachusetts,22860,597.950107,686.0,,21445,3347.0,100.0,108776.0,"15,926",04-12-2020
4,Pennsylvania,22833,1029.000000,507.0,6,21676,1785.0,40.0,124890.0,"9,764",04-12-2020
...,...,...,...,...,...,...,...,...,...,...,...
9651,New Hampshire,8266,33.000000,439.0,,305,6079.0,323,304821.0,"224,181",09-30-2020
9652,Alaska,7824,103.000000,56.0,,3711,10695.0,77,457207.0,"624,988",09-30-2020
9653,Wyoming,5948,127.000000,50.0,,1107,10277.0,86,161417.0,"278,902",09-30-2020
9654,Maine,5391,54.000000,141.0,,572,4011.0,105,444931.0,"330,998",09-30-2020
9656,Vermont,1752,3.000000,58.0,,88,2808.0,93,162727.0,"260,785",09-30-2020

In [100]:
dups = clean[clean.duplicated()]

### Data 3

In [105]:
# importing Covid data of all country
Covid_country = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'covid_country.csv'), index_col = False)

In [186]:
#exporting the data after cleaning 
Covid_country.to_csv(os.path.join(path, '02 Data', 'PreparedData','covid_country.csv'))

In [106]:
Covid_country.shape

(34932, 14)

In [107]:
# looking for missing value 
Covid_country.isnull().sum()

Country                   0
Total Cases               0
New Cases             16951
Total Deaths              0
New Deaths            23741
Total Recovered        1010
Active Cases            500
Serious/Critical      13668
Total Cases/1M pop      310
Deaths /1M pop         4967
Total Tests            4166
Tests /1M pop          4166
Continent               310
Date                      0
dtype: int64

In [108]:
Covid_country.describe()

,Total Cases,New Cases,New Deaths,Total Recovered,Active Cases,Serious/Critical,Total Cases/1M pop,Deaths /1M pop,Total Tests,Tests /1M pop
count,3.493200e+04,17981.000000,11191.000000,3.392200e+04,3.443200e+04,21264.000000,34622.000000,29965.000000,3.076600e+04,3.076600e+04
mean,1.320151e+05,2072.050442,93.290591,8.539562e+04,4.178150e+04,894.676637,2494.602863,83.832219,1.086689e+06,6.706455e+04
std,1.222447e+06,13099.944475,422.380157,8.427015e+05,3.695752e+05,5369.876694,4689.434209,167.426666,5.792908e+06,1.638406e+05
min,1.000000e+00,1.000000,1.000000,1.000000e+00,-6.840000e+02,1.000000,0.030000,0.020000,1.000000e+01,4.000000e+00
25%,2.730000e+02,15.000000,2.000000,1.270000e+02,4.200000e+01,4.000000,138.000000,4.000000,1.000000e+04,4.507250e+03
50%,2.133500e+03,104.000000,6.000000,1.114500e+03,5.580000e+02,17.000000,619.000000,18.000000,8.312750e+04,1.921550e+04
75%,1.858925e+04,520.000000,27.000000,9.844500e+03,4.773250e+03,124.000000,2878.750000,71.000000,4.484055e+05,6.238150e+04
max,3.414980e+07,317951.000000,7716.000000,2.542227e+07,7.709313e+06,66596.000000,44789.000000,1326.000000,1.600000e+08,2.656757e+06

In [109]:
# replacing missing value 
Covid_country['New Cases'].fillna(2072.050442, inplace=True)

In [110]:
Covid_country['New Deaths'].fillna(93.290591, inplace=True)

In [111]:
Covid_country['Total Recovered'].fillna(85395.62, inplace=True)

In [112]:
Covid_country['Active Cases'].fillna(41781.50, inplace=True)

In [113]:
Covid_country['Serious/Critical'].fillna(894.676637, inplace=True)

In [114]:
Covid_country['Total Cases/1M pop'].fillna(2494.602863, inplace=True)

In [115]:
Covid_country['Deaths /1M pop'].fillna(83.832219, inplace=True)

In [116]:
Covid_country['Total Tests'].fillna(1086689., inplace=True)

In [54]:
Covid_country['Tests /1M pop'].fillna(67064.55, inplace=True)

In [117]:
Covid_country.isnull().sum()

Country                  0
Total Cases              0
New Cases                0
Total Deaths             0
New Deaths               0
Total Recovered          0
Active Cases             0
Serious/Critical         0
Total Cases/1M pop       0
Deaths /1M pop           0
Total Tests              0
Tests /1M pop         4166
Continent              310
Date                     0
dtype: int64

In [118]:
# droping missing values
Covid_country.dropna(inplace = True)

In [121]:
Covid_country.isnull().sum()

Country               0
Total Cases           0
New Cases             0
Total Deaths          0
New Deaths            0
Total Recovered       0
Active Cases          0
Serious/Critical      0
Total Cases/1M pop    0
Deaths /1M pop        0
Total Tests           0
Tests /1M pop         0
Continent             0
Date                  0
dtype: int64

In [122]:
Covid_country.shape

(30766, 14)

### Data 4

In [123]:
# importing general Covid data 
Covid_Data = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'C19_data.csv'), index_col = False)

In [185]:
#exporting the data after cleaning 
Covid_Data.to_csv(os.path.join(path, '02 Data', 'PreparedData','C19_data.csv'))

In [124]:
Covid_Data.shape

(116805, 8)

In [125]:
# looking for missing value 
Covid_Data.isnull().sum()

SNo                    0
ObservationDate        0
Province/State     35353
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64

In [126]:
Covid_Data.describe()

                 SNo     Confirmed         Deaths     Recovered
count  116805.000000  1.168050e+05  116805.000000  1.168050e+05
mean    58403.000000  1.908217e+04     777.745473  1.117002e+04
std     33718.843434  5.825465e+04    2859.184068  6.258701e+04
min         1.000000  0.000000e+00       0.000000  0.000000e+00
25%     29202.000000  2.450000e+02       3.000000  4.000000e+00
50%     58403.000000  2.148000e+03      42.000000  4.260000e+02
75%     87604.000000  1.037400e+04     331.000000  3.829000e+03
max    116805.000000  1.242770e+06   42072.000000  2.670256e+06

In [127]:
# droping missing values
Covid_Data.dropna(inplace = True)

In [128]:
# looking for missing value 
Covid_Data.isnull().sum()

SNo                0
ObservationDate    0
Province/State     0
Country/Region     0
Last Update        0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

In [129]:
Covid_Data.shape

(81452, 8)

### Data 5

In [130]:
# importing general Covid data of the world
Covid_open_line = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'C19_open_line_list.csv'), index_col = False)

In [184]:
#exporting the data after cleaning 
Covid_open_line.to_csv(os.path.join(path, '02 Data', 'PreparedData','C19_open_line_list.csv'))

In [131]:
Covid_open_line.shape

(13174, 33)

In [134]:
Covid_open_line.head()

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,outcome,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id,data_moderator_initials
0,1.0,30,male,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,...,NaN,NaN,NaN,NaN,Chaohu City,Hefei City,Anhui,China,340181,NaN
1,2.0,47,male,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,...,NaN,NaN,NaN,NaN,Baohe District,Hefei City,Anhui,China,340111,NaN
2,3.0,49,male,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,High-Tech Zone,Shushan District,Hefei City,Anhui,China,340104,NaN
3,4.0,47,female,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,High-Tech Zone,Shushan District,Hefei City,Anhui,China,340104,NaN
4,5.0,50,female,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,...,NaN,NaN,NaN,NaN,Feidong County,Hefei City,Anhui,China,340122,NaN

In [132]:
# looking for missing value
Clean_5 = Covid_open_line.isnull().sum()

In [135]:
Clean_5

ID                              1
age                         11825
sex                         11910
city                         2980
province                      268
country                        26
wuhan(0)_not_wuhan(1)           4
latitude                       27
longitude                      27
geo_resolution                 27
date_onset_symptoms         12428
date_admission_hospital     12444
date_confirmation              85
symptoms                    12681
lives_in_Wuhan              12609
travel_history_dates        12671
travel_history_location     12416
reported_market_exposure    13139
additional_information      10762
chronic_disease_binary      13156
chronic_disease             13161
source                        224
sequence_available          13173
outcome                     12990
date_death_or_discharge     13081
notes_for_discussion        12987
location                    12150
admin3                      12015
admin2                       4106
admin1                        297
country_new                    95
admin_id                       71
data_moderator_initials     13157
dtype: int64

In [136]:
# droping missing values
Covid_open_line.describe()

,ID,wuhan(0)_not_wuhan(1),latitude,longitude,chronic_disease_binary
count,13173.000000,13170.0,13147.000000,13147.000000,18.000000
mean,6769.250436,1.0,31.994650,110.495353,0.722222
std,3920.886020,0.0,7.536335,27.985144,0.460889
min,1.000000,1.0,-37.813600,-124.953070,0.000000
25%,3351.000000,1.0,27.905380,111.729600,0.250000
50%,6865.000000,1.0,31.759410,115.441800,1.000000
75%,10180.000000,1.0,35.781340,120.440400,1.000000
max,13479.000000,1.0,69.649468,153.400000,1.000000

In [137]:
# replacing missing value 
Covid_open_line['wuhan(0)_not_wuhan(1)'].fillna(1.0, inplace=True)

In [138]:
Covid_open_line['chronic_disease_binary'].fillna(0.722222, inplace=True)

In [140]:
Clean_5 = Covid_open_line.isnull().sum()

In [141]:
Clean_5

ID                              1
age                         11825
sex                         11910
city                         2980
province                      268
country                        26
wuhan(0)_not_wuhan(1)           0
latitude                       27
longitude                      27
geo_resolution                 27
date_onset_symptoms         12428
date_admission_hospital     12444
date_confirmation              85
symptoms                    12681
lives_in_Wuhan              12609
travel_history_dates        12671
travel_history_location     12416
reported_market_exposure    13139
additional_information      10762
chronic_disease_binary          0
chronic_disease             13161
source                        224
sequence_available          13173
outcome                     12990
date_death_or_discharge     13081
notes_for_discussion        12987
location                    12150
admin3                      12015
admin2                       4106
admin1                        297
country_new                    95
admin_id                       71
data_moderator_initials     13157
dtype: int64

In [ ]:
# Needs More cleaning

### Data 6

In [3]:
# importing Covid data of US confrimed cases
TS_US_Confirmed = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_confirmed_US.csv'), index_col = False)

In [4]:
#exporting the data after cleaning 
TS_US_Confirmed.to_csv(os.path.join(path, '02 Data', 'PreparedData','TS_C19_confirmed_US.csv'))

In [5]:
TS_US_Confirmed.shape

(3340, 257)

In [6]:
TS_US_Confirmed.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1447,1463,1619,1624,1664,1673,1690,1691,1714,1715
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4800,4812,5003,5021,5033,5047,5061,5087,5124,5141
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,626,629,809,809,824,830,835,838,848,851
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,581,580,612,617,619,628,632,636,635,638
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,1128,1139,1487,1504,1527,1542,1551,1560,1573,1580

In [160]:
# looking for missing value
TS_US_Confirmed.isnull().sum()

UID         0
iso2        0
iso3        0
code3       0
FIPS       10
           ..
9/19/20     0
9/20/20     0
9/21/20     0
9/22/20     0
9/23/20     0
Length: 257, dtype: int64

In [ ]:
# the FIPS is key column

### Data 7

In [7]:
# importing Covid data of Time series by confirmed cases
TS_Confirmed = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_confirmed.csv'), index_col = False)

In [8]:
#exporting the data after cleaning 
TS_Confirmed.to_csv(os.path.join(path, '02 Data', 'PreparedData','TS_C19_confirmed.csv'))

In [9]:
TS_Confirmed.shape

(266, 250)

In [10]:
TS_Confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38772,38815,38855,38872,38883,38919,39044,39074,39096,39145
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,11520,11672,11816,11948,12073,12226,12385,12535,12666,12787
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,48496,48734,48966,49194,49413,49623,49826,50023,50214,50400
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1438,1438,1483,1483,1564,1564,1564,1681,1681,1753
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,3439,3569,3675,3789,3848,3901,3991,4117,4236,4363

In [151]:
# looking for missing value
TS_Confirmed.isnull().sum()

Province/State    185
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
9/19/20             0
9/20/20             0
9/21/20             0
9/22/20             0
9/23/20             0
Length: 250, dtype: int64

### Data 8

In [11]:
# importing Covid data of Times series by US deaths
TS_US_deaths = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_deaths_US.csv'), index_col = False)

In [12]:
#exporting the data after cleaning 
TS_US_deaths.to_csv(os.path.join(path, '02 Data', 'PreparedData','TS_C19_deaths_US.csv'))

In [13]:
TS_US_deaths.shape

(3340, 258)

In [157]:
# looking for missing value
TS_US_deaths.isnull().sum()

UID         0
iso2        0
iso3        0
code3       0
FIPS       10
           ..
9/19/20     0
9/20/20     0
9/21/20     0
9/22/20     0
9/23/20     0
Length: 258, dtype: int64

In [14]:
TS_US_deaths.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,23,23,24,24,24,24,24,24,25,25
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,43,43,47,48,48,49,49,49,49,49
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,6,6,9,9,10,10,10,10,10,10
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,13,13,13,13,14,14,14,14,14,15

### Data 9

In [15]:
# importing Covid data of Time series by deaths
TS_deaths = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_deaths.csv'), index_col = False)

In [16]:
#exporting the data after cleaning 
TS_deaths.to_csv(os.path.join(path, '02 Data', 'PreparedData','TS_C19_deaths.csv'))

In [17]:
TS_deaths.shape

(266, 250)

In [166]:
# looking for missing value
TS_deaths.isnull().sum()

Province/State    185
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
9/19/20             0
9/20/20             0
9/21/20             0
9/22/20             0
9/23/20             0
Length: 250, dtype: int64

In [18]:
TS_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1425,1426,1436,1436,1437,1437,1441,1444,1445,1446
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,338,340,343,347,353,358,362,364,367,370
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1620,1632,1645,1654,1659,1665,1672,1679,1689,1698
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,53,53,53,53,53,53,53,53,53,53
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,136,139,143,144,147,147,152,154,155,159

In [167]:
# no action was taken for the missing value in province and state column

### Data 10

In [19]:
# importing Covid data of Time series by recovered cases
TS_recovered = pd.read_csv(os.path.join(path, '02 Data', 'OriginalData','covid_19', 'TS_C19_recovered.csv'), index_col = False)

In [20]:
#exporting the data after cleaning 
TS_recovered.to_csv(os.path.join(path, '02 Data', 'PreparedData','TS_C19_recovered.csv'))

In [169]:
TS_recovered.shape

(253, 250)

In [21]:
TS_recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32073,32098,32503,32505,32576,32576,32576,32576,32576,32610
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,6615,6668,6733,6788,6831,6888,6940,6995,7042,7139
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,34204,34385,34517,34675,34818,34923,35047,35180,35307,35428
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,945,945,1054,1054,1164,1164,1164,1199,1199,1203
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1324,1332,1401,1405,1443,1445,1445,1449,1462,1473

In [170]:
# looking for missing value
TS_recovered.isnull().sum()

Province/State    186
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
9/19/20             0
9/20/20             0
9/21/20             0
9/22/20             0
9/23/20             0
Length: 250, dtype: int64